.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 auto;
}
.miss {
  border: 1px solid #343333;
  width: 2rem;
  height: 2rem;
  background-color: #8e8e8e;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
.cell-element {
  border: 1px solid rgb(42, 42, 42);
  width: 2rem;
  height: 2rem;
  &:hover {
    background-color: #b8b8b8;
    cursor: pointer;
  }
}

.title {
  font-size: 3rem;
}
.taken {
  border: 1px solid #145c97;
  width: 2rem;
  height: 2rem;
  background-color: #2196f3;
}
.hit {
  border: 1px solid #971414;
  width: 2rem;
  height: 2rem;
  background-color: #f32121;
}
.sunk {
  border: 1px solid #250505;
  width: 2rem;
  height: 2rem;
  background-color: #362727;
}
